/* Button */

.butt {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  height: 90px;
  width: 96%;
  border-radius: 7px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(92, 92, 92, 0.45);
  -moz-box-shadow: 0px 2px 4px 0px rgba(92, 92, 92, 0.45);
  box-shadow: 0px 2px 4px 0px rgba(92, 92, 92, 0.45);
}

.butt:hover {
  -webkit-box-shadow: 0px 2px 4px 0px #e57f00;
  -moz-box-shadow: 0px 2px 4px 0px #e57f00;
  box-shadow: 0px 2px 4px 0px #e57f00;
}

.butt > span {
  font-size: 25px;
  font-weight: 900;
  padding-left: 5px;
}

.butt:hover {
  background-color: #ff9f24;
  border-color: #ff9f24;
  color: white;
}

/* input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

input[type="checkbox"] {
  border-radius: 90px;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #ccc;
}

input[type="checkbox"]:checked {
  background: grey;
  margin: 3px;
  position: relative;
} */
