/* Button */

.butt {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  height: 90px;
  width: 96%;
  border-radius: 7px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(92, 92, 92, 0.45);
  -moz-box-shadow: 0px 2px 4px 0px rgba(92, 92, 92, 0.45);
  box-shadow: 0px 2px 4px 0px rgba(92, 92, 92, 0.45);
  cursor: pointer;
}

.butt:hover {
  -webkit-box-shadow: 0px 2px 4px 0px #e57f00;
  -moz-box-shadow: 0px 2px 4px 0px #e57f00;
  box-shadow: 0px 2px 4px 0px #e57f00;
  background-color: #ff9f24;
  border-color: #ff9f24;
  color: white;
  border: none;
  outline: 0;
}

.wrapper > label {
  font-size: 20px;
  font-weight: 900;
  padding-left: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

input {
  margin-right: 10px;
  cursor: pointer;
}

.butt:focus-within {
  -webkit-box-shadow: 0px 2px 4px 0px #e57f00;
  -moz-box-shadow: 0px 2px 4px 0px #e57f00;
  box-shadow: 0px 2px 4px 0px #e57f00;
  background-color: #ff9f24;
  border-color: #ff9f24;
  color: white;
}
