/* Situation Actuelle */

.titleOfSituation {
  display: flex;
  align-items: center;
}

.containOfSituation {
  display: flex;
}

.buttOfSituation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 100px;
}
