/* Title */

.title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper {
  width: 90vw;
}

.wrapper > span {
  font-size: 36px;
  font-weight: 900;
  color: #ff9f24;
}

.wrapper > img {
  height: 30px;
  object-fit: contain;
}

.tooltip {
  font-size: 30px;
}
