/* Type de Bien */

.wrapper {
  width: 90vw;
}

.titleOfType {
  display: flex;
  align-items: center;
}

.containOfType {
  display: flex;
}

.buttOfType {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 100px;
}
