/* Final */

/* not display mandatory information */

footer span {
  display: none;
}

/* -------  */

.containOfFinal {
  padding-bottom: 40px;
}

.containOfFinal {
  font-size: 25px;
}

.numberOfQuotation {
  font-size: 30px;
  font-weight: bold;
}
