/* Footer */

.wrapper {
  width: 90vw;
  margin: 0 auto;
}

.textOfFooter > span {
  font-weight: normal;
}

.mentions {
  text-decoration: underline;
  font-weight: normal;
  cursor: pointer;
}

.textOfFooter > p {
  font-size: 12px;
}

.textOfFooter > p > span {
  margin-left: 5px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
