/* Etat Bien */

.titleOfState {
  display: flex;
  align-items: center;
}

.containOfState {
  display: flex;
}

.buttOfState {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 100px;
}
